{% load static %}

<div class="block2" id="about_us">
        <div>
            <img src="{% static 'img/aboutus.jpg' %}" class="block2_img" >
        </div>
        <div>
            <div class="content_about" style="display: flex; gap: 20px;">
                <h1>Цели компании</h1>
            </div>
            <br>
            <div class="content_about" style="display:flex; gap: 20px; font-family: 'Fira Sans Condensed', sans-serif;">
                <h5>Since </h5><img src="{% static 'img/after.png' %}" width="160px"> <h5>2014</h5>
            </div>
            <br>
            <p class="text">Миссия и Цели:</p>
           <div class="text">
               <li class="block2_li">
                   Обеспечение чистоты атмосферного воздуха в населенных пунктах и
                   производственных зонах.
               </li>
               <li class="block2_li">
                   Снижение выбросов вредных веществ от промышленных предприятий и
                   автотранспорта.
               </li>
               <li class="block2_li">
                   Контроль и улучшение качества воды (поверхностной, подземной, морской) и почвы.
               </li>
                <li class="block2_li">
                    Сохранение и восстановление природных экосистем через озеленение и использование
                    экологически чистых материалов.
                </li>
               <li class="block2_li">
                   Обеспечение радиационной безопасности на территориях, в рабочих зонах и при
                   обращении с материалами.
               </li>
               <li class="block2_li">
                   Поддержка особо охраняемых природных территорий через разработку и
                   корректировку обоснований и генеральных планов.
               </li>
           </div>
        </div>
    </div>