{% load static %}

<div class="block2" id="about_us">
        <div>
            <img src="{% static 'img/aboutus.jpg' %}" class="block2_img" >
        </div>
        <div>
            <div class="content_about" style="display: flex; gap: 20px; font-family: 'Playfair Display', serif;">
                <h1>Про <h1 style="color: green;"> IRAM BAQ</h1></h1>
            </div>
            <br>
            <div class="content_about" style="display:flex; gap: 20px; font-family: 'Fira Sans Condensed', sans-serif;">
                <h5>Since </h5><img src="{% static 'img/after.png' %}" width="160px"> <h5>2014</h5>
            </div>
            <br>
            <p class="text">Миссия и Цели:</p>
           <div class="text">
               <li class="block2_li">
                  Озеленение всех категорий объектов без вредных воздействий в окружающую среду, путем применения экологически чистых посадочных материалов.
               </li>
               <li class="block2_li">
                  В своей деятельности Компания руководствуется нормативно-правовыми актами регулирующими зеленый фонд Республики Казахстан.
               </li>
               <li class="block2_li">
                   Применяет собственные разработки без вредоносной химической обработки почвы и зеленых насаждений.
               </li>
                <li class="block2_li">
                    Несет полную этическую и социальную ответственность перед будущим Республики.
                </li>
           </div>
        </div>
    </div>