<!-- Footer Start -->
    <div class="container-fluid text-secondary mt-5 bg-dark " style="font-family: 'Fira Sans Condensed', sans-serif;">
        <div class="row px-xl-5 pt-5 " >
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5 text-light" style="color: black">
                <h5 class="text-uppercase mb-4 text-light">Наши контакты и адреса </h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Город Астана</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Мангилик Ел 12</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>irambaq@mail.ru</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+7 7775477767</p>
            </div>
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5 ">
                <h6 class="text-uppercase mb-4 text-light">Каталог</h6>
                <h6 class="text-uppercase mb-4 text-light">О нас</h6>
                <h6 class="text-uppercase mb-4 text-light">Экосистема</h6>
                <h6 class="text-uppercase mb-4 text-light">Конакты</h6>
                <h6 class="text-uppercase mb-4 text-light">Каталог</h6>
            </div>
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                {% load static %}
                <h1 class="text-uppercase mb-4 text-light">Мы в <img src="{% static 'img/2gis.png' %}" width="30%"></h1>
                <div id="map" style="width:100%; height:250px"></div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
    var map;

    DG.then(function () {
        map = DG.map('map', {
            center: [51.178030, 71.458079],
            zoom: 13
        });

        DG.marker([51.178030, 71.458079]).addTo(map).bindPopup('Казахстан, Астана, улица Шары Жиенкуловой, 8/2');
    });
</script>