{% load static %}
{% include "header.html" %}
<div class="greening" style="background-image: url('{% static 'img/back_pitomnik.jpeg' %}')">
    <h1 class="font-weight-bold greenh1">Наши работы по Озеленению</h1>
    <div class="text">
       <li class="block2_li">
           2014 - ПОСАДКА МАТЕРИАЛА В СОБСТВЕННОМ ПИТОМНИКЕ,  ТРУДОУСТРОЙСТВО 34 ЧЕЛОВЕК, В ТОМ ЧИСЛЕ СОЦИАЛЬНО УЯЗВИМЫХ
       </li>
       <li class="block2_li">
            2015 - БЛАГОУСТРОЙСТВО И ОЗЕЛЕНЕНИЕ ЧАСТНЫХ  ПРОЕКТОВ, ОБЬЕКТОВ ВСЕХ КАТЕГОРИЙ
       </li>
       <li class="block2_li">
           2016-2018 - КОММЕРЧЕСКИЕ ПОСТАВКИ САЖЕНЦЕВ И СЕЯНЦЕВ ХВОЙНЫХ И ЛИСТВЕННЫХ ПОРОД В РК
       </li>
        <li class="block2_li">
            2019 - КОМПЛЕКСНЫЕ РАБОТЫ ПО БЛАГОУСТРОЙСТВУ И ОЗЕЛЕНЕНИЮ ПАРКОВ, ЧАСТНЫХ САДОВ И ТЕРРИТОРИЙ РАЗЛИЧНЫХ ЖК
        </li>
        <li class="block2_li">
            2020 - ОЗЕЛЕНЕНИЕ УЛИЦ, СКВЕРОВ, ТЕРРИТРОИЙ ГОСУДАРСТВЕННЫХ ОРГАНОВ, ПРАВИТЕЛЬСТВЕННЫХ ЗДАНИЙ, ПОСОЛЬСТВ В ГОРОДЕ АСТАНА
        </li>
        <li class="block2_li">
            2021 - ОЗЕЛЕНЕНИЕ ТЕРРИТОРИИ ДИПЛОМАТИЧЕСКОГО ГОРОДКА В Г.АСТАНА
        </li>
        <li class="block2_li">
            2022-2023 - РЕАЛИЗАЦИЯ КОМПЛЕКСА МЕРОПРИЯТИЙ ПО ОБНОВЛЕНИЮ ЗЕЛЕНОГО ФОНДА Г.АЛМАТЫ В ЖЕТЫСУСКОМ РАЙОНЕ
        </li>
        <li class="block2_li">
            2023 - УЧАСТИЕ В ВОСПОЛНЕНИИ ЛЕСНЫХ РЕСУРСОВ КОСТАНАЙСКОЙ, ПАВЛОДАРСКОЙ, АКМОЛИНСКОЙ ОБЛАСТЕЙ
        </li>
        <li class="block2_li">
            ПАРТНЕРСТВО В ВЫПОЛНЕНИИ ПОРУЧЕНИЯ ГЛАВЫ ГОСУДАРСТВА ПО ПОСАДКЕ 2 МЛРД. ДЕРЕВЬЕВ
        </li>
    </div>
</div>