<div id="catalog" class="container-fluid pt-5 pb-3" style="width: 100%;   font-family: 'Fira Sans Condensed', sans-serif; background-color: white">
    <a class="text-decoration-none text-center"><h2 class="text-uppercase mx-xl-5 mb-4 justify-content-center bg-default" >Каталог</h2></a>
    <div class="row px-xl-5">
        {% for item in object_list %}
            <div class="col-lg-2 col-md-4 col-sm-6 pb-1 col-6">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden justify-content-around" id="img-c">
                        <a href="{{ item.get_absolute_url }}">
                            <img class="img" src="{{ item.image.url }}" alt="">
                        </a>
                    </div>
                    <div class="text-center pt-2" style="word-break: break-word;">
                        <a class="text-decoration-none" href="{{ item.get_absolute_url }}"><p style="color: black;max-height: 36px; font-size: 12px">{{ item.title }}</p></a>
                        <div class="d-flex align-items-center justify-content-center">
                            <p style="font-size: 12px;color: black">{{ item.height }}</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <p style="font-size: 12px;color: black">{{ item.get_price }}₸</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" style="height: 40px;">
                        <a href="{% url 'core:add-to-cart' item.slug%}"> add to card</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>