body{
    background-color: #f5f3f3;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

section{
    margin: 3% 5%;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo-mamc{
    width: 10%;
    height: 10%;
    padding-top: 6%;
}

.logo-zakaz{
    width: 13%;
    height: 10%;
    padding-top: 1%;
}

.title-h1{
    padding-top: 6%;
}

.text-h1{
    margin-top: -3%;
}


.desc{
    text-align: center;
    margin-bottom: 3%;
}

.text-feb{
    font-size: 28px;
    /*color: green;*/
}

.container-filt{
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.filt-text{
    font-size: 18px;
}

.btn-filt{
    width: 10%;
    height: 5%;

}

.sample-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 4%;
}

.sample-ucell{
    color: #6b0a6b;
}

.sample-beeline{
    color: yellow;
}

.sample-uzmob{
    color: deepskyblue;
}

.sample-mobi{
    color: red;
}

.sample-utitle {
    font-size: 35px;
    text-align: right;
}

.sample-text {
    font-size: 28px;
    color: cadetblue;
}


.title{
    margin-bottom: 10px;
}

.indi-title{
    text-align: center;
    font-size: 28px;
    padding-top: 2%;
}

.gen-cont{
    padding-left: 19%;
}

.ucell-logo,.title-bell,.title-gen{
    padding-left: 11%;
    padding-bottom: 6%;
}

.green,.yellow,.red{
    padding-bottom: 5%;
}

.mobz{
    margin-left: 9%;
    width: 50%;
}





#chartdiv1,#chartdiv,#chartdiv2,#chartdiv3{
    width: 119%;
    height: 275px;
    text-align: center;
}

h3.img-text {
    font-size: 18px;
}

/*.title-ucell{*/
/*    margin-top: 3%;*/

/*    text-align: center;*/
/*    padding-left: 38%;*/
/*}*/

.title-ucell.mobz{
    width: 79%;
    height: 74%;
}

.general-indicator{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 3px 10px 0px;
    margin: 2% 0;
    background-color: white;

}

.general-wrap{
    display: grid;
    justify-content: center;


}

.img-wrap {
    padding-left: 92px;
}



.img-desc{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;


}

.img-img{
    width: 15%;
}

.green {
    color: green;
}

.yellow{
    color: orange;
}

.red{
    color: red;
}

.statistics-container{
    display: flex;
    justify-content: center;
    gap: 10%;
    color: #7c7b7b;
    margin: -6% -2%;
    font-size: 15px;
}

.quta-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 5% 10%;
    border: 1px solid black;
    padding: 2%;
}

.name-logo{
    text-align: center;
    margin-right: 5%;
}

.quta-title{
    font-size: 18px;
}

.font{
    font-size: 18px;
}

.quta-beel{
    color: yellow;
}

.quta-ucel{
    color: blueviolet;
}

.quta-uzmob{
    color: #00acc1;
}

.quta-mob{
    color: red;
}





.logo1{
    padding-top: 24%;
}
.logo2{
    width: 96%;
}
.logo3{
    width: 92%;
}
.img-logo4{
 width: 93%;
}


.ucel{
    color: #f355f3;
}

.beeline{
    color: #f1f106;
}
 .mobiuz{
     color: red;
 }

 .uzmob{
     color: #00acc1;
 }

 .age-container{
     display: flex;
     gap: 5px;
     margin-top: 1%;
     position: relative;
 }

 .wrap{
     width: 30%;
 }

 .wrap-reg{
     width: 40%;
 }

 .age-title{
     text-align: center;
     margin-bottom: 2%;
     font-size: 18px;
 }

 .gener-indic{
     margin-bottom: 2%;
 }


 .desc-text {
     font-size: 18px;
     margin-top: 7%;
     text-align: center;
     padding-bottom: 14px;
 }

 .region-title{
     text-align: center;
     font-size: 18px;
     padding: 1% 0px;
     margin-top: 7%;
 }

 .indecs-title{
     margin-bottom: 2%;
 }

 .desc-indic{
  display: flex;
     justify-content: center;
     align-items: center;
     gap: 47px;
     position: relative;
 }

 .sim{
     margin-bottom: 2%;
    margin-top: 3%;
     gap: 1%;
 }

   h2.desc-title {
    font-size: 18px;
    text-align: center;
}

   .sim-title{
       font-size: 18px;
       text-align: center;
   }


 .footer{
     margin: 0 auto;
     background-color: #f5f3f3;
     position: relative;
 }

 .footer::before{
     content:"";
     position: absolute;
     top: 0%;
     width:105%;
     height: 1px;
     background-color: black;
 }

 .footer-container{
     height: 38%;
     margin: 0 5%;
 }

 .footer-box{
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid black;
     padding-bottom: 3%;
 }

 .w-25 {
    width: 14%!important;
}

 .footer-wrap{
      width: 100%;
 }

 .footer-img{
     width: 8%;
     padding-bottom: 1%;
     margin: 2% 8% 1%;
 }

 .footer-text{
     line-height: 1.5;
     font-family: inherit, sans-serif;
     text-decoration: none;
     color: #1b1e21;
 }

 .col-lg-3 {
    flex: 0 0 auto;
    width: 24%;
}

 .ramka{
     border: 1px solid black;
     background-color: white;

 }

 .period-is{
     width: 49.5%;
 }

 .simka-pokaz{
     display: flex;
     gap: 1.3%;
     padding: 3% 0;
 }

 .yvel1,.yvel {
     /*width: 33%;*/
     border: 1px solid black;
     background-color: white;
 }



 .container-logoform{
     display: flex;
     justify-content: space-between;
     /*padding: 3%;*/
     margin-bottom: 10%;
     border-bottom: 1px solid black;
 }

 .form-img{
     width: 10%;
 }

 .title-regis {
    text-align: center;
}

 .login {
    width: 41%;
    margin: 5% 29%;
}

 .col-6.offset-3 {
    border: 1px solid black;
    border-radius: 2%;
    padding: 1%;
    margin-bottom: 10%;
    box-shadow: 2px 3px 10px 0px;
}

 p.footer-desc {
    width: 136%;
}

 .copy-text{
     margin: 1% 0;
     padding-bottom: 3%;
 }







@media screen  and (max-width: 991px){
    .logo-mamc {
        width: 20%;
        /*height: 500px;*/
        /*padding-top: 10%;*/
    }
     .logo-zakaz {
        width: 20%;
        /*height: 40px;*/
        /*padding-top: 10%;*/
    }



    .title-ucell.ucell1{
        width: 10%;
        padding-left: 28%;
    }

    /*.sample-title row-cols-lg-1 p-3 {*/
    /*    padding-left: 10%;*/
    /*}*/

    .desc-indic {
    gap: 1px;
    }


    .box2 {
        width: 41%;
    }

    .desc-title {
     text-align: center;
     font-size: 16px;
    }

    .sample-container{
        margin: 0 -16% ;
    }

   .sample-wrap {
    width: 328px;
    display: flex;
    justify-content: center;
    gap: 33%;
    margin: -5px 37%;
    }


}

@media (max-width: 561px) {
    #CityType{
     height: 350px;
    }

    .title {
    font-size: 130%;
    margin-bottom: 10px;
}

    .text-feb{
        font-size: 60px;
    }

    .sample-container{
        margin: 0 8% 0 -21%;
    }

    .sample-desc,.done{
    font-size: 120%;
    }

    .ucell-text::after,.ucell-text::before,.beeline-text::after,.beeline-text::before,.mobiuz-text::after,.mobiuz-text::before,.uzmob-text::after,.uzmob-text::before{
        display: none;
    }

    .logo1{
        padding-top: 29%;
    }


    .logo2{
        width: 93%;
    }


    .logo3{
        width: 93%;
    }

    .logo4{
        width: 93%;
    }




}
.dropdown-check-list {
  display: inline-block;
    gap: 1%;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

li{
    display: flex;
    gap: 4%;
}


.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
}

.btn-sbm{
    color: #fff;
    background: #2f2f2f;
    border-radius: 20px;
    text-align: center;
    border: none;
    font-size: 15px;
    margin: 6%;
}






